.page {
    min-height: 100vh;
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-rows: auto 1fr auto;
    background-color: #2A2C2F;
    font-family: 'Inter', 'Arial', sans-serif;
    color: #fff;
    -webkit-font-smoothing: antialiased; 
    -moz-osx-font-smoothing: grayscale; 
}