.photo-grid__container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
    grid-gap: 16px;
}

@media screen and (max-width: 1200px) {
    .photo-grid__container {
        grid-gap: 14px;
    }
}

@media screen and (max-width: 900px) {
    .photo-grid__container {
        grid-gap: 16px;
    }
}

@media screen and (max-width: 600px) {
    .photo-grid__container {
        grid-gap: 12px;
    }
}